*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
}
#main
{
    height: 100%;
    width: 100%;
}
.data
{
    position: absolute;
    left: 2.5%;
    top: 6%;
    font-family: "BadaBoom BB";
    letter-spacing: 1.5px;
    font-size: 25px;
}
#background
{
    position: absolute;
    top: 21%;   
    left:0%;
    height: 600%;
    width: 100%;
    background-repeat: repeat;
    background-image: url("ppe.jpg");
    background-size: contain;
    border-image-repeat: round;
}
#picc
{
    position:relative;
    width: 15%;
    height: 10%;
    top: 1.5%;
    left: 70%;
    background-size: cover;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/564x/da/46/9b/da469bde973e12a3e4c3d8e7144a6407.jpg);
}
#psection{
    position: absolute;
    top: 50.5%;
    left:50%;
    background-color: rgba(0, 0, 0, 0.752);
    transform: translate(-50%,-50%);
    width: 97%;
    height: 100%;
    border-radius: 15px;
    }
#menu
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 89, 216, 0.867);
}
#dark
{
    position: absolute;
    left: 1%;
    top: 0.5%;
    width: 32%;
    height: 18.9%;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 50px;
}
#web1
{   
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/realistic-halloween-spider-web-background_52683-72550.jpg");
    left: 0%;
    top: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: centre;
}
#Homee
{   position: absolute;
    top: 13.7%;
    left: 60%;
    height: 100%;
    width: 100%;
}
#About
{   position: absolute;
    top: 13.7%;
    left: 74.5%;
    height: 100%;
    width: 100%;
}
#Shop
{   position: absolute;
    top: 13.7%;
    left: 90%;
    height: 100%;
    width: 100%;
}
#menu button
{background-color: transparent;
    border: none;
    font-family:"BadaBoom BB"; 
    font-size: 30px;
}
#logo
{
    position:absolute;
    background-position: center;
    background-size: cover;
    top: 0%;
    left: 2%;
    width: 30%;
    height: 20%;
    background-image: url("ccvv-removebg-preview.png");
}
#des
{
    position: absolute;
    top: 11.6%;
    left: 54.5%;
    width: 45.5%;
    height:8.8%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    border-top-left-radius: 15px;
}
#pae
{position: absolute;
    top: 12.5%;
    left: 55%;
    width: 44.7%;
    height: 6.8%;
    background-color: rgba(255, 0, 0, 0.885);
    border-top-left-radius: 11px;
    border-bottom-left-radius:5px;
}
#outline
{
    position: absolute;
    top: 20%;
    background-color: rgb(134, 0, 0);
    width: 100%;
    height: 1%;
}
.social img
{
    background-size: cover;
    background-position: center;
    width: 14%;
    height: 1.5%;
    top: 10%;
    position: fixed;
    left: 2.5%;
    border-radius: 15px;
}
#piss
{
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 18.5%;
    background-image: url("image-removebg-preview (1).png");
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.716);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
}
#stars
{
    position: absolute;
    width: 80%;
    height: 15%;
    top: 80%;
    left: 61%;
    opacity: 0;
}
.block
{   
    position: relative; 
    height: 80%;
    width: 85%;
    background-color: rgba(227, 172, 172, 0);
    transition: all 0.4s ease;
    border-radius: 5%;
    display:grid;
    transition:transform 0.3s;
    gap: 35px 80px;
    left: 7.5%;
    top: 5%;
}
  .img1 {
    position: relative; 
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  .img2 {
    position: relative; 
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  .img3 {
    position: relative; 
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  .img4 {
    position: relative; 
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
.img1 img
{   
    position: relative;
    border-radius: 5%;
    left: 5%;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.649);
    border-radius: 15px;
    width: 40%;
    height:90%
}
.img2 img
{   
    position: relative;
    border-radius: 5%;
    left: 5%;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.649);
    border-radius: 15px;
    width: 40%;
    height:90%
}
.img3 img
{
    position: relative;
    border-radius: 5%;
    left: 5%;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.649);
    border-radius: 15px;
    width: 40%;
    height:90%
}
.img4 img
{
    position: relative;
    border-radius: 5%;
    left: 5%;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.649);
    border-radius: 15px;
    width: 40%;
    height:90%
}
.block:hover{
    transform: scale(1.025);
}
.img1:hover
{
    transform: scale(1.15);
}
.img1:hover .pp
{
    opacity: 1;
}
.img1:hover #stars
{
    opacity: 1;
}
.img1:hover .pe
{
    opacity: 0;
}
.img2:hover
{
    transform: scale(1.15);
}
.img2:hover #stars
{
    opacity: 1;
}
.img2:hover .pp
{
    opacity: 1;
}
.img2:hover .pe
{
    opacity: 0;
}
.img3:hover #stars
{
    opacity: 1;
}
.img3:hover
{
    transform: scale(1.15);
}
.img3:hover .pp
{
    opacity: 1;
}
.img3:hover .pe
{
    opacity: 0;
}
.img4:hover #stars
{
    opacity: 1;
}
.img4:hover
{
    transform: scale(1.15);
}
.img4:hover .pp
{
    opacity: 1;
}
.img4:hover .pe
{
    opacity: 0;
}
.pp
{   
    position: absolute;
    width: 40%;
    height: 40%;
    top: 12%;
    left: 51%;
    color: rgb(0, 0, 0);
    font-size: small;
    transition: opacity 0.2s;
    opacity: 0;
}
.pe
{   
    position: absolute;
    width: 40%;
    height: 40%;
    top: 40%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-size: larger;
    transition: opacity 0.3s;
    opacity: 1;
}
#menuu p
{ 
    position: absolute;
    width: 50%;
    height: 4%;
    top:90%;
    color: rgb(255, 0, 0);
    left: 20%;
    font-size: larger;   
}
a:link
{
    text-decoration: none;
}
a:hover
{
    text-decoration:underline;
}
#back
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.762);
    width: 80%;
    height: 57%;
    top: 26%;
    left: 5%;
    border-radius: 15px;
}
#about
{
    position: absolute;
    font-family: "BadaBoom BB";
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    background-color: aqua;
    border-radius: 15px;
}
#about1
{
    position: absolute;
    font-family: "BadaBoom BB";
    width: 80%;
    height: 40%;
    left: 10%;
    top: 15%;
    background-color: rgb(4, 4, 4);
    border-radius: 15px;
}
#about p1
{
    position: absolute;
    top: 15%;
    width: 80%;
    height: 40%;
    left: 10%;
    font-size: xx-large;
    letter-spacing: 2px;
    word-spacing: 5px;
}
#about h1
{
    position: relative;
    top: 5%;
    width: 80%;
    height: 40%;
    left: 10%;
    font-size: 80px;
    text-align: center;
}
#disc
{
    position: absolute;
    top: 57%;
    left: 15%;
    height: 40%;
    width: 70%;
    font-size: xxx-large;
    font-family: "BadaBoom BB";
    color: aliceblue;
    letter-spacing: 4px;
    text-align: center;
}
#about p
{
    position: absolute;
    height: 50%;
    width: 75%;
    top: 18% ;
    left: 12%;
    font-size: 50px;
    color: aliceblue;
    text-align:center;
}